<hr>
<footer>
    <p>Give it a try, you never know what could happen. <br>
        CS Abroad 2021© Ultreras. <br>
        This webpage is for academic purposes only and is fictitious.
    </p>
</footer>
</body>
</html>