<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Science Abroad</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Learn Computer Science Abroad!</h1>
        <h4>-It's not as scary as you think-</h4>
    </header>
<hr> 
    <main id="main">
        <nav>
            <a href="/">Home</a>
            <a href="/resources">Resources</a>
            <a href="/france">France</a>
            <a href="/southKorea">South Korea</a>
        </nav>
        <hr> 