<%- include('partials/header.ejs') %>

<body>

  <%- include('partials/nav.ejs') %><br><br>
  <header>
    <h1>Create Account</h1>
  </header>
  <main>
    <div class="loginDisplay">
      Username: <input type="text" id="username"> <br>
      Password: <input type="password" id="password"> <br>
      Retype Password: <input type="password" id="retypePassword"> <br> <br>

      <button id="createAccountBtn"> Create Account </button>
      <br>
      
      <h3 id="errorMsg"></h3>
    </div>
  </main>

  <script src="/script/script.js"></script>
</body>
</html>