<%- include('partials/header.ejs') %>

<body id="mainPage">

  <%- include('partials/nav.ejs') %><br><br>
  <header>
    <h1>-- Trail Tracker --</h1><br><br>
  </header>
  <main>
    <div id="homeDisplay" >
      Think outside,<br>No box required.
    </div>
  </main>

  <script src="/script/script.js"></script>
</body>
</html>