<%- include('partials/header.ejs')%>

        <div id="align">
            <div id="main_body">
                <h2 class="labels">University of Paris MICEFA</h2>
                <img width="750"  src="https://www.bucketlist127.com/uploads/images/0adc995a4185cb4d270e3d8c0bf54e3a.jpg" alt="Study">
                <p style="color:navy">The University of Paris is a wonderful option for Computer Science majors
                    and other majors alike. One unique thing about the University of Paris is that is has multiple
                    campuses. This means that you have a wider range of schools to choose from. So come to the city of love,
                    learn some Computer Science (maybe some French), and eat some amazing food.
                </p>
                <h3 class="labels">Classes in France</h3>
                <img src="img/franceClass.png" alt="franceCourses">
            </div>
        </div>
    </main>

<%- include('partials/footer.ejs')%>