<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Science Abroad</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Learn Computer Science Abroad!</h1>
        <h4>-It's not as scary as you think-</h4>
    </header>
<hr> 
    <main id="main">
        <div id="align">
            <div id="navigation">
                <h3>Navigation</h3>
                <nav>
                    <ul class="format_lists">
                        <li><a class="homeNav" href="/">Home</a></li>
                        <li><a class="homeNav" href="/resources">Resources</a></li>
                        <li><a class="homeNav" href="/france">France</a></li>
                        <li><a class="homeNav" href="/southKorea">South Korea</a></li>
                        <p style="font-size:60px"><%=iceCream%></p>
                    </ul>
                </nav>
            </div>
            <div id="main_body">
                <img class="picture" src="https://i.pinimg.com/originals/55/74/25/557425605d683621e836d1f2493b8e50.gif" alt="Study">
                <h3 class="labels">Why Study Abroad at all?</h3>
                <p style="color:navy">Many people shy away from the idea of studying abroad. There's a lot of fear in moving to a new country where perhaps you don't know the language or any of the people there. However, studying abroad, <em>especially as a CS major</em>, is an invaluable experience. There are endless places you can study in and different types of programs, so there is definitely a good fit for everyone.
                </p>
                <h3 class="labels">Opinions</h3>
                <ul>
                    <li><a class="resources" href="https://scholarship-positions.com/why-study-computer-science-abroad/2019/12/06/">Why study computer science abroad?</a></li>
                    <li>A CS major in Switzerland</li>
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/HxdJIEaNeFo"></iframe>
                    <li>A CS major in Denmark</li>
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/sKux-ORGVgs"></iframe>
                </ul>
            </div>
        </div>
    </main>
<hr>

<%- include('partials/footer.ejs')%>