<%- include('partials/header.ejs')%>

<div id="align">
            <div id="main_body">
                <h3 class="labels">Things to Know</h3>
                <p style="color:navy">CSUMB offers many different programs for studying abroad.
                    You can go for a semester or a whole year, or if you're looking for something shorter
                    you can go during the summer or the winter. 
                </p>
                <img width="500"  src="<%=image%>>" alt="Study">
                <h3 class="labels">Links to Programs</h3>
                <ul>
                    <li><a class="resources" href="https://csumb.edu/educationabroad/">CSUMB Education Abroad</a></li>
                    <li><a class="resources" href="https://csuip.calstate.edu/index.cfm?FuseAction=Programs.MapSearch">CSU International Programs</a></li>
                    <li><a class="resources" href="https://csumb.edu/educationabroad/programs/summer/">CSUMB Summer Programs</a></li>
                    <li><a class="resources" href="https://csumb.edu/educationabroad/winter-programs">CSUMB Winter Programs</a></li>
                    <li><a class="resources" href="https://www.notion.so/fe784f2524cb46b5a272b47e66f4ee7a?v=eadb2106598a40aba190f96586df1705">Scholarships</a></li>

                </ul>
            </div>
        </div>
        </main>

<%- include('partials/footer.ejs')%>